# Игнорирование виртуального окружения Poetry
.venv/

# Игнорирование файлов и папок сборки Poetry
dist/
build/
*.egg-info/
*.egg

# Игнорирование файлов, созданных PyCharm
.idea/

# Игнорирование файлов окружения виртуального окружения Poetry
.env/